/* SCSS Compiled */
/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border-style: none;
  max-width: 100%; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0; }

input, select {
  vertical-align: middle; }

input:-webkit-input-placeholder {
  color: #000; }

input:focus::-webkit-input-placeholder {
  color: #000; }

/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
/* Brand Colors ------------------------------------------------*/
#wrapper,
main,
#content,
#sidebar,
aside,
section {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  overflow: hidden; }

.layout {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  width: 1040px;
  margin: 0 auto; }
  @media (max-width: 1051px) {
    .layout {
      width: auto;
      max-width: 98%; } }

#wrapper.no-scroll {
  overflow-y: hidden; }

.none {
  display: none; }

header {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  height: 104px;
  background-color: #008BAA;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }
  @media (max-width: 749px) {
    header {
      height: 90px; } }
  header .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px; }
    @media (max-width: 811px) {
      header .layout {
        margin-top: 18px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    header .layout .title-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      @media (max-width: 811px) {
        header .layout .title-name {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; } }
      @media (max-width: 749px) {
        header .layout .title-name {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      @media (max-width: 399px) {
        header .layout .title-name {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      header .layout .title-name .name-page img {
        display: block; }
      header .layout .title-name h2 {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: white;
        width: 149px;
        margin-left: 22px; }
        @media (max-width: 811px) {
          header .layout .title-name h2 {
            margin: 5px 0 0 0;
            font-size: 13px;
            line-height: 14px; } }
        @media (max-width: 749px) {
          header .layout .title-name h2 {
            margin-left: 30px; } }
        @media (max-width: 399px) {
          header .layout .title-name h2 {
            margin-left: 5px;
            font-size: 10px;
            width: auto; } }
    header .layout .contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 749px) {
        header .layout .contacts {
          display: none; } }
      header .layout .contacts a {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        color: white; }
      header .layout .contacts span {
        margin-left: 7px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: white;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.25); }
    header .layout .social-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 749px) {
        header .layout .social-icon {
          display: none; } }
      header .layout .social-icon .facebook,
      header .layout .social-icon .telegram {
        width: 32px;
        height: 32px; }
        header .layout .social-icon .facebook img,
        header .layout .social-icon .telegram img {
          display: block; }
      header .layout .social-icon .telegram {
        margin-left: 16px; }
    header .layout .burger {
      display: none; }
      @media (max-width: 749px) {
        header .layout .burger {
          display: block;
          position: relative;
          top: 5px;
          right: 0;
          width: 30px;
          height: 30px; }
          header .layout .burger span {
            position: relative;
            display: block;
            width: 30px;
            height: 2px;
            background-color: white;
            -webkit-transition-duration: 1s;
            -o-transition-duration: 1s;
            transition-duration: 1s;
            transition-duration: 1s; }
            header .layout .burger span::before {
              content: "";
              width: 30px;
              height: 2px;
              background-color: white;
              -webkit-transition-duration: 1s;
              -o-transition-duration: 1s;
              transition-duration: 1s;
              position: absolute;
              top: 10px;
              left: 0px; }
            header .layout .burger span::after {
              content: "";
              width: 30px;
              height: 2px;
              -webkit-transition-duration: 1s;
              -o-transition-duration: 1s;
              transition-duration: 1s;
              background-color: white;
              position: absolute;
              top: 20px;
              left: 0px; }
          header .layout .burger.active-burger-menu span {
            top: 10px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
            header .layout .burger.active-burger-menu span::before {
              opacity: 0; }
            header .layout .burger.active-burger-menu span::after {
              top: 0;
              -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg); } }
  header.active-menu-burger {
    height: 100vh; }
    header.active-menu-burger .layout {
      height: 95%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header.active-menu-burger .layout .title-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        header.active-menu-burger .layout .title-name h2 {
          text-align: center;
          margin: 30px 0 0 0; }
      header.active-menu-burger .layout .contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        header.active-menu-burger .layout .contacts a {
          margin: 30px; }
      header.active-menu-burger .layout .social-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }

.main-banner {
  margin-top: 22px; }
  .main-banner .layout {
    position: relative; }
    .main-banner .layout .advertising {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 250px;
      height: 250px;
      background: rgba(255, 242, 0, 0.7);
      border-radius: 50%;
      position: absolute;
      bottom: 33px;
      left: 32px;
      font-family: 'Trebuchet MS';
      font-weight: 700;
      font-size: 25px;
      line-height: 29px;
      text-align: center; }
      @media (max-width: 817px) {
        .main-banner .layout .advertising {
          overflow: hidden;
          width: 200px;
          height: 200px;
          font-size: 20px; } }
      @media (max-width: 700px) {
        .main-banner .layout .advertising {
          width: 150px;
          height: 150px;
          font-size: 13px;
          line-height: 17px; } }
      @media (max-width: 500px) {
        .main-banner .layout .advertising {
          padding-top: 10px;
          width: 100px;
          height: 100px;
          font-size: 9px;
          line-height: 12px; } }
      @media (max-width: 500px) {
        .main-banner .layout .advertising {
          bottom: 10px;
          left: 10px; } }
      .main-banner .layout .advertising .code-tour-text {
        margin: 16px 0 8px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase; }
        @media (max-width: 817px) {
          .main-banner .layout .advertising .code-tour-text {
            font-size: 13px; } }
        @media (max-width: 700px) {
          .main-banner .layout .advertising .code-tour-text {
            margin: 8px 0 4px;
            font-size: 10px; } }
        @media (max-width: 500px) {
          .main-banner .layout .advertising .code-tour-text {
            margin: 0;
            font-size: 7px; } }
      .main-banner .layout .advertising .code-number {
        font-size: 24px;
        line-height: 28px;
        width: 108px;
        height: 31px;
        text-transform: uppercase;
        background: #000000;
        color: #FFFFFF; }
        @media (max-width: 700px) {
          .main-banner .layout .advertising .code-number {
            width: 80px;
            height: 27px;
            font-size: 18px; } }
        @media (max-width: 500px) {
          .main-banner .layout .advertising .code-number {
            width: 60px;
            height: 20px;
            line-height: 19px;
            font-size: 8px; } }

.info-hotel {
  overflow: visible; }
  .info-hotel .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: visible; }
    @media (max-width: 537px) {
      .info-hotel .layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 90%;
        overflow: hidden; } }
    @media (max-width: 359px) {
      .info-hotel .layout {
        width: 98%; } }
    .info-hotel .layout .hotel {
      margin-top: 23px; }
      .info-hotel .layout .hotel .hotel-name-and-rating {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        @media (max-width: 537px) {
          .info-hotel .layout .hotel .hotel-name-and-rating {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; } }
        @media (max-width: 333px) {
          .info-hotel .layout .hotel .hotel-name-and-rating {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; } }
        .info-hotel .layout .hotel .hotel-name-and-rating h2 {
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-size: 35px;
          line-height: 130%; }
          @media (max-width: 849px) {
            .info-hotel .layout .hotel .hotel-name-and-rating h2 {
              font-size: 25px; } }
          @media (max-width: 655px) {
            .info-hotel .layout .hotel .hotel-name-and-rating h2 {
              font-size: 18px; } }
        .info-hotel .layout .hotel .hotel-name-and-rating .grade-star {
          width: 147px;
          margin: 0 20px; }
          @media (max-width: 333px) {
            .info-hotel .layout .hotel .hotel-name-and-rating .grade-star {
              margin: 20px; } }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting {
            margin: 0;
            padding: 0;
            border: none; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__caption {
            padding: 0;
            margin-bottom: 8px; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__group {
            position: relative;
            width: 137px;
            height: 27px;
            background-image: url(../images/icon/star-null.png);
            background-size: 27px 26px; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__group:focus-within {
            outline: solid 1px #64686d0c;
            outline-offset: 0.1px; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star {
            font-size: inherit;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 137px;
            height: 27px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-size: 27px 26px;
            background-repeat: repeat-x;
            cursor: pointer; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:focus {
            outline: none; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:hover, .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:checked {
            background-image: url(../images/icon/star.png); }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:hover ~ .raiting__star {
            background-image: url(../images/icon/star-null.png); }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:nth-of-type(1) {
            z-index: 5;
            width: 27px; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:nth-of-type(2) {
            z-index: 4;
            width: 54px; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:nth-of-type(3) {
            z-index: 3;
            width: 81px; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:nth-of-type(4) {
            z-index: 2;
            width: 108px; }
          .info-hotel .layout .hotel .hotel-name-and-rating .grade-star .raiting__star:nth-of-type(5) {
            z-index: 1;
            width: 138px; }
        .info-hotel .layout .hotel .hotel-name-and-rating span {
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-size: 35px;
          line-height: 130%; }
          @media (max-width: 849px) {
            .info-hotel .layout .hotel .hotel-name-and-rating span {
              font-size: 25px; } }
          @media (max-width: 655px) {
            .info-hotel .layout .hotel .hotel-name-and-rating span {
              font-size: 15px; } }
      .info-hotel .layout .hotel ul.grade {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .info-hotel .layout .hotel ul.grade li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: start;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-family: 'Arial';
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-right: 16px; }
          @media (max-width: 849px) {
            .info-hotel .layout .hotel ul.grade li {
              font-size: 10px; } }
          @media (max-width: 655px) {
            .info-hotel .layout .hotel ul.grade li {
              font-size: 8px; } }
          .info-hotel .layout .hotel ul.grade li:first-child {
            margin-right: 32px; }
            @media (max-width: 849px) {
              .info-hotel .layout .hotel ul.grade li:first-child {
                margin-right: 20px; } }
            @media (max-width: 655px) {
              .info-hotel .layout .hotel ul.grade li:first-child {
                margin-right: 8px; } }
          .info-hotel .layout .hotel ul.grade li:nth-child(2) {
            margin-right: 32px;
            width: 52px;
            height: 52px;
            background-color: #008BAA;
            font-family: 'Trebuchet MS';
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: white;
            padding-left: 7px; }
            @media (max-width: 849px) {
              .info-hotel .layout .hotel ul.grade li:nth-child(2) {
                font-size: 17px;
                padding-left: 13px;
                margin-right: 20px; } }
            @media (max-width: 655px) {
              .info-hotel .layout .hotel ul.grade li:nth-child(2) {
                margin-right: 8px; } }
          @media (max-width: 849px) {
            .info-hotel .layout .hotel ul.grade li {
              margin-right: 10px; } }
          @media (max-width: 655px) {
            .info-hotel .layout .hotel ul.grade li {
              margin-right: 8px; } }
          .info-hotel .layout .hotel ul.grade li:last-child {
            margin-right: 0px; }
          .info-hotel .layout .hotel ul.grade li span {
            font-weight: 700; }
    @media (max-width: 537px) {
      .info-hotel .layout .quantity-sun-day {
        text-align: center; } }
    .info-hotel .layout .quantity-sun-day .quantity {
      font-family: 'Trebuchet MS';
      font-weight: 700;
      font-size: 88px;
      line-height: 102px;
      color: #777777;
      letter-spacing: -0.05em;
      margin: -30px 110px 0 0; }
      @media (max-width: 849px) {
        .info-hotel .layout .quantity-sun-day .quantity {
          font-size: 60px;
          margin: -30px 100px 0 0; } }
      @media (max-width: 849px) {
        .info-hotel .layout .quantity-sun-day .quantity {
          font-size: 60px;
          margin: -40px 80px 0 0; } }
      @media (max-width: 655px) {
        .info-hotel .layout .quantity-sun-day .quantity {
          font-size: 30px;
          margin: -20px 80px 0 0;
          line-height: 40px; } }
      @media (max-width: 537px) {
        .info-hotel .layout .quantity-sun-day .quantity {
          margin: 0; } }
    .info-hotel .layout .quantity-sun-day span {
      display: block;
      font-family: 'Arial';
      font-weight: 400;
      font-size: 30px;
      line-height: 31px;
      width: 144px; }
      @media (max-width: 849px) {
        .info-hotel .layout .quantity-sun-day span {
          font-size: 20px;
          line-height: 25px;
          width: 100px; } }
      @media (max-width: 537px) {
        .info-hotel .layout .quantity-sun-day span {
          width: auto; } }

.services {
  margin-top: 48px; }
  .services .layout ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 1041px) {
      .services .layout ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .services .layout ul li {
      width: 500px;
      margin-right: 10px; }
      @media (max-width: 1041px) {
        .services .layout ul li {
          margin-bottom: 30px; } }
      @media (max-width: 526px) {
        .services .layout ul li {
          margin-right: 0;
          width: 98%; } }
      .services .layout ul li .img-item {
        width: 500px;
        height: 280px; }
        @media (max-width: 526px) {
          .services .layout ul li .img-item {
            margin-right: 0;
            height: auto;
            width: 98%; } }
        .services .layout ul li .img-item img {
          display: block;
          width: 100%;
          height: 100%; }
      .services .layout ul li .info {
        margin-top: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .services .layout ul li .info .name h4 {
          cursor: pointer;
          margin-bottom: 6px; }
          .services .layout ul li .info .name h4 a {
            font-family: 'Trebuchet MS';
            font-weight: 700;
            font-size: 35px;
            color: #000000;
            line-height: 130%;
            -webkit-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s; }
            @media (max-width: 381px) {
              .services .layout ul li .info .name h4 a {
                font-size: 18px; } }
            .services .layout ul li .info .name h4 a:hover {
              color: #cb0000; }
        .services .layout ul li .info .name span {
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px; }
          @media (max-width: 381px) {
            .services .layout ul li .info .name span {
              font-size: 10px; } }
        .services .layout ul li .info .price {
          font-family: 'Trebuchet MS';
          font-style: normal;
          font-weight: 700;
          font-size: 35px;
          line-height: 130%; }
          @media (max-width: 381px) {
            .services .layout ul li .info .price {
              font-size: 18px; } }
          .services .layout ul li .info .price .old-price {
            font-family: 'Trebuchet MS';
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #777777;
            text-decoration: line-through;
            -webkit-text-decoration-color: #cb0000;
            text-decoration-color: #cb0000; }
            @media (max-width: 381px) {
              .services .layout ul li .info .price .old-price {
                font-size: 12px; } }

.discount-banner {
  margin-top: 48px; }
  .discount-banner .layout {
    border: 1px solid #E0E0E0;
    border-radius: 6px; }
    .discount-banner .layout .banner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 1px solid #E0E0E0;
      width: 100%;
      padding: 40px 24px 35px 25px; }
      @media (max-width: 873px) {
        .discount-banner .layout .banner {
          padding: 30px 0 35px 0px; } }
      @media (max-width: 837px) {
        .discount-banner .layout .banner {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      .discount-banner .layout .banner .discount-price {
        font-family: 'Arial';
        width: 20%;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        text-align: center;
        color: #008BAA; }
        @media (max-width: 837px) {
          .discount-banner .layout .banner .discount-price {
            width: auto;
            font-size: 20px; } }
      .discount-banner .layout .banner .info-discount {
        width: 55%; }
        .discount-banner .layout .banner .info-discount .promocode {
          color: #008BAA;
          font-family: 'Arial';
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          letter-spacing: 1px; }
        .discount-banner .layout .banner .info-discount h3 {
          font-family: 'Arial';
          font-weight: 700;
          font-size: 22px;
          line-height: 130%; }
        .discount-banner .layout .banner .info-discount span {
          font-family: 'Arial';
          font-weight: 400;
          font-size: 14px;
          line-height: 19px; }
        @media (max-width: 837px) {
          .discount-banner .layout .banner .info-discount {
            margin: 25px 0;
            text-align: center;
            width: 100%; }
            .discount-banner .layout .banner .info-discount .promocode {
              font-size: 10px; }
            .discount-banner .layout .banner .info-discount h3 {
              font-size: 18px; }
            .discount-banner .layout .banner .info-discount span {
              font-size: 10px; } }
      .discount-banner .layout .banner .get-discount {
        width: 25%; }
        .discount-banner .layout .banner .get-discount a {
          background-color: #00aaaa;
          background-color: linear-gradient(180deg, #00aaaa 0%, #008baa 100%);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 224px;
          height: 47px;
          border-radius: 24px;
          font-family: 'Arial';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          color: white; }
          @media (max-width: 873px) {
            .discount-banner .layout .banner .get-discount a {
              width: auto;
              font-size: 13px; } }
        @media (max-width: 837px) {
          .discount-banner .layout .banner .get-discount {
            width: 224px; } }
    .discount-banner .layout .more {
      padding: 16px 0 15px;
      height: 47px;
      background-color: #f7f7f7;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .discount-banner .layout .more a {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
        color: #777777;
        margin-right: 11px; }
      .discount-banner .layout .more .img-arrow {
        width: 10.67px;
        height: 5.33px; }
        .discount-banner .layout .more .img-arrow img {
          display: block; }

.more-info {
  margin-top: 64px; }
  .more-info .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 911px) {
      .more-info .layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .more-info .layout .info {
      width: 776px;
      font-family: 'Arial'; }
      @media (max-width: 805px) {
        .more-info .layout .info {
          width: 98%; } }
      .more-info .layout .info h3 {
        font-family: 'Trebuchet MS';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 130%; }
        @media (max-width: 577px) {
          .more-info .layout .info h3 {
            text-align: center;
            font-size: 25px;
            line-height: 110%; } }
      .more-info .layout .info .par1 {
        margin-top: 32px;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px; }
        @media (max-width: 577px) {
          .more-info .layout .info .par1 {
            font-size: 13px; } }
      .more-info .layout .info .par2 {
        margin-top: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px; }
        @media (max-width: 577px) {
          .more-info .layout .info .par2 {
            font-size: 13px; } }
      .more-info .layout .info h4 {
        margin: 24px 0 8px;
        font-weight: 700;
        font-size: 22px;
        line-height: 130%; }
        @media (max-width: 577px) {
          .more-info .layout .info h4 {
            font-size: 16px; } }
      .more-info .layout .info .par3 {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px; }
        @media (max-width: 577px) {
          .more-info .layout .info .par3 {
            font-size: 13px; } }
      .more-info .layout .info .par4 {
        position: relative;
        margin: 33px 0 33px 40px; }
        .more-info .layout .info .par4 i {
          font-style: italic;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px; }
          @media (max-width: 577px) {
            .more-info .layout .info .par4 i {
              font-size: 13px; } }
        .more-info .layout .info .par4::before {
          content: "";
          width: 8px;
          height: 96px;
          background-color: #008BAA;
          position: absolute;
          top: -10px;
          left: -24px; }
          @media (max-width: 805px) {
            .more-info .layout .info .par4::before {
              height: 115%; } }
      .more-info .layout .info .par5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px; }
        @media (max-width: 577px) {
          .more-info .layout .info .par5 {
            font-size: 13px; } }
      .more-info .layout .info h5 {
        margin: 24px 0 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%; }
        @media (max-width: 577px) {
          .more-info .layout .info h5 {
            font-size: 14px; } }
      .more-info .layout .info .par6 {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px; }
        @media (max-width: 577px) {
          .more-info .layout .info .par6 {
            font-size: 13px; } }
    .more-info .layout aside {
      width: 227px;
      margin-left: 37px; }
      @media (max-width: 577px) {
        .more-info .layout aside {
          margin: 20px 0; } }
      .more-info .layout aside .num {
        font-family: 'Trebuchet MS';
        font-weight: 700;
        font-size: 100px;
        line-height: 116px;
        color: grey; }
        @media (max-width: 577px) {
          .more-info .layout aside .num {
            font-size: 60px;
            line-height: 70px; } }
      .more-info .layout aside .sub {
        margin: 4px 0 8px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 31px; }
        @media (max-width: 577px) {
          .more-info .layout aside .sub {
            font-size: 23px; } }
      .more-info .layout aside span {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #777777; }
        @media (max-width: 577px) {
          .more-info .layout aside span {
            font-size: 16px; } }

.table {
  margin: 24px 0; }
  .table .layout table {
    padding: 16px;
    width: 776px; }
    @media (max-width: 713px) {
      .table .layout table {
        width: 98%; } }
    .table .layout table tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 8px 0;
      border-bottom: 1px solid #F7F7F7; }
      .table .layout table tr td {
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        padding: 8px;
        width: 25%; }
        @media (max-width: 577px) {
          .table .layout table tr td {
            font-size: 13px; } }
    .table .layout table tr.head {
      background: #F7F7F7; }
      .table .layout table tr.head td {
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 20px; }
  .table .layout .additionally {
    margin-top: 24px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px; }
    @media (max-width: 577px) {
      .table .layout .additionally {
        font-size: 13px; } }
    .table .layout .additionally h3 {
      font-weight: 400; }
    .table .layout .additionally ul {
      margin: 10px 0 0 25px; }
      .table .layout .additionally ul li {
        list-style: disc;
        margin: 5px; }

footer {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  overflow: hidden; }
  footer .layout {
    border-top: 1px solid #E0E0E0;
    padding: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 479px) {
      footer .layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    footer .layout h3 {
      display: block;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px; }
      footer .layout h3 a {
        color: #008BAA;
        border-bottom: 1px solid rgba(0, 89, 172, 0.25); }
    footer .layout .social-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 479px) {
        footer .layout .social-icon {
          margin-top: 20px; } }
    footer .layout .facebook,
    footer .layout .telegram {
      width: 32px;
      height: 32px; }
      footer .layout .facebook img,
      footer .layout .telegram img {
        display: block; }
    footer .layout .facebook {
      margin-right: 16px; }
