/* Brand Colors ------------------------------------------------*/
$colorHead: #008BAA;
$colorBTNdiscount:linear-gradient(180deg, rgba(0,170,170,1) 0%, rgba(0,139,170,1) 100%);
$grey : rgba(119, 119, 119, 1);
$text :#000000;
$white:rgba(255, 255, 255, 1);
$textHover : rgba(203, 0, 0, 1);

