/* Brand Colors ------------------------------------------------*/
$statusActive: rgba(22, 192, 152, 0.38);
$statusActiveBorder: rgba(0, 176, 135, 1);
$statusInactive: rgba(255, 197, 197, 1);
$statusInactiveBorder: rgba(223, 4, 4, 1);
$text :rgba(41, 45, 50, 1);
$textGrey:rgba(181, 183, 192, 1);
$paginationActiveBackground :rgba(89, 50, 234, 1);
$paginationActiveText :rgba(255, 255, 255, 1);
$paginationBackground :rgba(238, 238, 238, 1);

