header {
	@include box;
	height: 104px;
	background-color: $colorHead;
	@media(max-width:749px){
		height: 90px;
	}
	transition-duration: 1s;
	.layout{
		display: flex;
		justify-content: space-between;
		align-items:center;
		margin-top: 30px;
		@media(max-width:811px){
					margin-top: 18px;
					align-items: center;
		}
		.title-name {
			display: flex;
			align-items: flex-end;
			@media(max-width:811px){
					flex-direction: column;
					align-items: flex-start;
			}
			@media(max-width:749px){
				flex-direction: row;
				align-items: center;
			}
			@media(max-width:399px){
				flex-direction: column;
			}
			.name-page {
				img{
					display: block;
				}
				
			}
			h2{
				font-family: 'Arial';
				font-weight: 400;
				font-size: 16px;
				line-height: 18px;
				color: $white;
				width: 149px;
				margin-left: 22px;
				@media(max-width:811px){
					margin: 5px 0 0 0;
					font-size: 13px;
					line-height: 14px;
				}
				@media(max-width:749px){
					margin-left: 30px;
				}
				@media(max-width:399px){
					margin-left: 5px;
					font-size: 10px;
					width: auto;
				}
			}
		}
		.contacts {
			display: flex;
			align-items: center;
			@media(max-width:749px){
					display: none;
			}
			a{
				font-family: 'Arial';
				font-weight: 400;
				font-size: 30px;
				line-height: 34px;
				color: $white;
			}
			span{
				margin-left: 7px;
				font-family: 'Arial';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 18px;
				color: $white;
				border-bottom: 1px dashed rgba(255, 255, 255, 0.25)
			}
		}
		.social-icon {
			display: flex;
			@media(max-width:749px){
				display: none;
			}
			.facebook,
			.telegram {
				width:32px;
				height:32px;
				img{
					display: block;
				}
			}
			.telegram {
				margin-left: 16px;
			}
		}
		
		.burger{

			display: none;
			@media(max-width:749px){
				display: block;
				position: relative;
				top: 5px;right: 0;
				width: 30px;
				height: 30px;
				span{
					position: relative;
					display: block;
					width: 30px;
					height: 2px;
					background-color: $white;
					transition-duration: 1s;
					transition-duration: 1s;
					&::before{
						content: ('');
						width: 30px;
						height: 2px;

						background-color: $white;
						transition-duration: 1s;
						position: absolute;
						top: 10px;left: 0px;
					}
					&::after{
						content: ('');
						width: 30px;
						height: 2px;
						transition-duration: 1s;
						background-color: $white;

						position: absolute;
						top: 20px;left: 0px;
					}
				}
				&.active-burger-menu{
					span{
						top: 10px;
						transform:rotate(-45deg);
						&::before{
							opacity: 0;
						}
						&::after{
							top: 0;
							transform: rotate(90deg);
						}
					}
				}
			}
			
		}
	
	}
	&.active-menu-burger{
		height: 100vh;
		
		.layout{
			height:95%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.title-name {
				display: flex;
				flex-direction: column;
				h2{
					text-align: center;
					margin: 30px 0 0 0;
				}
			}
			.contacts{
				display: flex;
				flex-direction: column;
				a{
					margin: 30px;
				}
			}
			.social-icon{
				display: flex;
			}
		}
	}
}
